#menu-button {
    display: none;
}
.blog-logo {
    max-width: 4em;
}
#blog-header .blog-description a,
#blog-header .blog-description a:hover,
#blog-header .blog-description a:visited {
    color: white;
}
.inner {
    max-width: 44em !important;
}
.post-content img {
    width: auto !important;
    display: inline !important;
    margin: 0 !important;
}
code, pre {
    font-size: .8em !important;
}
